# Ignore virtual environment folder
/myvenv/
# or
myvenv/

# Ignore environment variables file
.env

# Ignore dotenv variants and local env files
.env.*
.env.local

# Python virtualenvs
.venv/
venv/

# Node
node_modules/
package-lock.json

# VSCode
.vscode/

# macOS
.DS_Store
